[Desktop Entry]
Version=1.0
Name=Wireplumber
Comment=Start Wireplumber
Exec=/usr/bin/wireplumber
Terminal=false
Type=Application
X-KDE-autostart-phase=1
X-GNOME-HiddenUnderSystemd=true
X-systemd-skip=true
